<div class="offcanvas-body">
    <ul class="list-unstyled">
        <li class="mb-3">
            <a href="{% url 'applications_list' %}" class="text-white">
                <i class="bi bi-folder"></i> Previous Applications
            </a>
        </li>
        <li class="mb-3">
            <a href="{% url 'messaging:inbox' %}" class="text-white">
                <i class="bi bi-envelope"></i> Messages
            </a>
        </li>
        <li class="mb-3">
            <a href="{% url 'articles:list' %}" class="text-white">
                <i class="bi bi-book"></i> Technical Articles
            </a>
        </li>
        <li class="mb-3">
            <a href="{% url 'stats' %}" class="text-white">
                <i class="bi bi-bar-chart"></i> Statistics
            </a>
        </li>
        <li class="mb-3">
            <a href="{% url 'useful_info' %}" class="text-white">
                <i class="bi bi-info-circle"></i> Useful Information
            </a>
        </li>
    </ul>
</div>
